<h2>Reviews</h2>
<% if signed_in? %>
	<%= form_for([@product, @product.comments.build], remote: true) do |f| %>
		<p class="comment-summary">
			<%= f.label :summary, "Add a Review" %>
			<%= f.text_field :summary %>
			<div class="rating"></div>
		</p>
		<p>
			<%= f.label :body, "Details" %>
			<%= f.text_area :body %>
		</p>
		<p>
			<%= f.submit "Submit" %>
		</p>
	<% end %>
<% end %>

